<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
</head>
<body>
<nav>
    <ul>
        <li><a href="/players">Players</a></li>
        <li><a href="/teams">Teams</a></li>
    </ul>
    <ul class="right">
        <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
              <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login</a>
              <% } %>
        </li>
      </ul>
</nav>    
<body>

<h1>NBA LEAGUE</h1>

<h2>THE BEST NBA LEAGUE STATS IS HERE !!!</h2>

<div id="wg-api-basketball-standings"
    data-host="api-basketball.p.rapidapi.com"
    data-key="b0daf93064msh156cca872619ca0p176bfejsn5b72b37c5500"
    data-league="12"
    data-season="2021-2022"
    data-theme=""
    data-show-errors="false"
    data-show-logos="true"
    class="wg_loader">
</div>
<script
    type="module"
    src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>


<%- include('../partials/footer') %> 