<%- include('../partials/header') %>

<h1>NBA LEAGUE</h1>

<h2>THE BEST NBA LEAGUE STATS IS HERE !!!</h2>

<div id="wg-api-basketball-standings"
    data-host="api-basketball.p.rapidapi.com"
    data-key="b0daf93064msh156cca872619ca0p176bfejsn5b72b37c5500"
    data-league="12"
    data-season="2021-2022"
    data-theme=""
    data-show-errors="false"
    data-show-logos="true"
    class="wg_loader">
</div>
<script
    type="module"
    src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>


<%- include('../partials/footer') %> 