<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/teams/new">Players</a></li>
            <li><a href="/teams">Teams</a></li>
        </ul>
    </nav>

    <h2>Enter a comment for Player</h2>
<form action="/teams/new" method="POST">
  <label>Player Name:
    <input type="text" name="playerName">
  </label><br>
  <label>Age:
    <input type="number" name="age">
  </label><br>
  <label>height:
    <input type="number" name="height">
  </label><br>
  <label>position:
    <input type="text" name="position">
  </label><br>
  <label>comment:
    <input type="text" name="comment">
  </label><br>
  <input type="submit" value="Add Player comment">
</form>



<%- include('../partials/footer') %>