*{
  box-sizing: border-box;;
}

body {
  margin: 0;
  padding: 0;
  background: url("../images/bryant-logo.webp");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  display: flex;
  width: 180px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  flex: 1;
  background-color: rgb(204, 204, 204);
  height: 45px;
}

form{
  align-items: center;
}

li:hover{
  cursor: pointer;
  background-color: #00B7FF;
  color: #fff;
}

.block{
  display: block;
  width: 100%;
  border: none;
  background-color: blue;
  padding: 14px 28px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;

}



#player-table{
  display:flex;
  justify-content:center; 
  border: black dotted 2px ;
  background-color: #00B7FF;
}

thead{
  border-bottom: 1px solid #ccc;
  height: 50px;
  background-color: #eee;
  align-items: center;
  padding-right: 10px;
}

thead th:nth-of-type(2){
  width: 400px;
  justify-content: center;
  padding-right: 10px;
}

tbody tr{
  height: 40px;
  justify-content: center;
  padding-right: 10px;
} 

td {
  padding: 8px;
  text-align: center;
}


/* 
.delete-form{

}

.update-form{

} */
